name: 'build'

on:
  workflow_dispatch:
  push:
    tags:
      - v**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  download-dbip:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Download dbip database
        run: ./ci/fetch_latest_dbip.sh
      - uses: actions/upload-artifact@v4
        with:
          name: dbip
          path: "dbip.mmdb"

  build-binaries:
    needs: download-dbip
    strategy:
      fail-fast: false
      matrix:
        platform:
          - os: windows-latest
            rust_target: x86_64-pc-windows-msvc

    runs-on: ${{ matrix.platform.os }}
    steps:
      - name: Disable crlf
        if: matrix.platform.os == 'windows-latest'
        run: |
          git config --global core.autocrlf input

      - uses: actions/checkout@v3

      # Download the previously uploaded artifacts
      - uses: actions/download-artifact@v4
        id: download
        with:
          name: dbip
          path: src-tauri/

      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: ${{ matrix.platform.rust_target }}
          workspaces: |
            src-tauri

      - name: install npm packages
        run: npm ci

      - uses: tauri-apps/tauri-action@v0.5.23
        id: tauri_build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: --target ${{ matrix.platform.rust_target }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-x86_64-exe
          path: |
            src-tauri/target/x86_64-pc-windows-msvc/release/*.exe